<form [formGroup]="employmentForm">
  <input type="text" formControlName="price" name="price" placeholder="Format Price" 
  nhFormatInput="income"
  />
  <br/>
  <input type="text" formControlName="date" name="date" placeholder="Format Date mm/dd/yyyy" 
  nhFormatInput="dob"
  />
  <br/>
  <input type="text" formControlName="ssn" name="ssn" placeholder="Format Social Security Number" 
  nhFormatInput="ssn"
  />
  <br/>
  <input type="text" formControlName="cap" name="cap" placeholder="Capitalize" 
  nhFormatInput="capitalize"
  />
</form>